<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template 3</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

        body {
            font-family: 'Ubumtu', sans-serif;
            background-repeat: no-repeat;
            background-color: #19547b;
            color: white;
            object-fit: contain;
        }

        h1 {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content {
            width: 80vw;
            margin: auto;
            line-height: 2;
            margin-top: 1rem;
        }

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4rem 0;
        }

        input {
            padding: 1rem 2rem;
            font-weight: bolder;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 1rem;
        }

        @media print {
            .remove-btn {
                visibility: hidden;
            }

            p {
                color: black;
            }
        }

      
    </style>
</head>

<body id="print-content">
    <h1>Letter of Recommendation</h1>
    <p class="content">
        With immense pleasure, <br>
        I recommend <b> <%=name%> </b> from <b> <%=school%> </b> for <b> <%=program%> </b> at your esteemed <b>
            <%=univ%> </b>.
        Over the last ten years of my teaching experience, I have taught more than three thousand students, coming from
        varied
        backgrounds and possessing a wide spectrum of talents, abilities and personality traits.
        <br> I would place <b> <%=name%> </b> among the
        top 2 percentile of all the students whom I have taught. <b> <%=name%> </b> has been my student for 4 years
        between 2012 and 2016. I
        have taught him various subjects during this period, including Data Structure (Semester 4), Algorithms II
        (Semester 5),
        Compiler Design (Semester 6) and Abstract State Machines (Semester 8).

        <b> <%=name%> </b> is a sincere and hardworking student with unparalleled self-drive to excel in his chosen
        field of studies.
        <br> He has been consistent in his academic performance, retaining his class rank in the top 2 percentile
        throughout his
        undergraduate program. His performance in subjects such as Algorithms and Abstract State Machines were
        exemplary,
        demonstrating his keen interest in these topics. His ability to ask the right questions and conduct his own
        research and
        studies out of the classroom, not only helped facilitate enriching discussions in the class but also reflected
        his
        potential for research.

        <br> <b> <%=name%> </b>, along with two other students and myself, presented a paper in IEEE organized
        conference, 2016 International
        Computer Science and Engineering Conference in Thailand. The paper, titled “Cloud-Based Software Platform for
        Big Data
        Analytics in Smart Grids”, was the culmination of a 2-month project that <b> <%=name%> </b> did, during the
        summer break of 2015. I
        observed <b> <%=name%> </b> feeling personally responsible for learning, for understanding the science behind
        the research, and for
        making and recording careful observations in the laboratory. His originality and ability to make creative
        decisions
        helped us complete the paper for the conference in a short span of time.

        <br> On a personal level, <b> <%=name%> </b> is a well-rounded person, with a lot of enthusiasm for sports and
        extra-curricular
        activities. He has also shown his adeptness at organizational skills, especially in a cross-cultural setting. He
        is
        approachable and easy to communicate with.

        I concur with his decisions to pursue graduate studies and strongly recommend him for admission at your
        university.<br>

        Yours sincerely,<br>
        <b><%=name%></b>
    </p>
    <div class="btn-container">
        <input class="remove-btn" type="button" value="📩 Print this page" onClick="window.print()" />
    </div>

</body>
<script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script>

</html>