<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template 2</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

        body {
            font-family: 'Ubumtu', sans-serif;
            background-repeat: no-repeat;
            background-color: #734b6d;
            color: white;
            object-fit: contain;
        }

        h1 {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content {
            width: 80vw;
            margin: auto;
            line-height: 2;
            margin-top: 1rem;
        }

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4rem 0;
        }

        input {
            padding: 1rem 2rem;
            font-weight: bolder;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 1rem;
        }

        @media print {
            .remove-btn {
                visibility: hidden;
            }

            p {
                color: black;
            }
        }
    </style>
</head>

<body id="print-content">
    <h1>Letter of Recommendation</h1>
    <p class="content">

        With great pleasure,
        <br> I am writing this reference letter in support of <b> <%=name%> </b> from <b> <%=school%> </b> who is
        applying to the
        <b> <%=program%> </b> at your esteemed<b> <%=univ%> </b>.
        <br> I have known <b> <%=name%> </b> in my capacity as his/her Professor
        for over two years now, respectively. I taught him 'Open Source Programming' and 'Java Programming'. Through my
        observation, I would like to say
        that he/she is attentive and studious and possesses a positive attitude towards academics.
        Throughout his course of study, <b> <%=name%> </b>has shown great interest in practical aided learning
        techniques.
        We engaged in several courses and research related discussions in which, he/she confidently talked about his/her
        aspirations towards higher education.
        As a person he/she is always ready to take up responsibility, he/she carries out his/her duties with immense
        dedication. <br>
        Throughout the year <b> <%=name%> </b> was an active participant in our discussions, and he/she always supported
        his/her peers. I am certain that <b> <%=name%> </b> is going to continue to do great and creative things in the
        future and stand-out as an individual at your school.
        I have the deepest personal and professional respect for him/her, and sincerely believe <b> <%=name%> </b> will
        bring his/her unique energy, optimism, passion, and tireless creativity to your class and University as a whole.
        <br> Thus, he/she has my highest endorsement for admission into his/her desired course at your University. If
        you
        have any questions about this recommendation, please do not hesitate to contact me for I will gladly try to
        help.
        <br>

        Yours sincerely,<br>
        <b><%=name%></b>
    </p>
    <div class="btn-container">
        <input class="remove-btn" type="button" value="📩 Print this page" onClick="window.print()" />
    </div>

</body>
<script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script>

</html>